@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');


*{
	margin: 0;
	padding: 0;
}

.navbar{
	padding-top:30px;
	padding-bottom: 30px;
}


nav a{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-decoration: none;
	color: #FFFFFF;

	margin-left: 50px;


}

.logo{
	position: absolute;
	left: 45.73%;
	right: 50.52%;
	top: 2%;
	bottom: 96.5%;
}

.home{margin-left: 100px;}
nav a:hover{color: #C99E71;}

.navbar{
	border: 1px solid #1C1814;
	background-color: #1C1814;
}

.pages{
	margin-left: 325px;	
}

.sec2{
	/*background-image: url('s.png');*/
	background: linear-gradient(178.71deg, rgba(1, 1, 2, 0) 37.52%, rgba(1, 1, 2, 0.405) 95.35%), url(s.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height:700px;
}
.enjoy{
	position: absolute;
	width: 529px;
	height: 188px;
	left: 200px;
	top: 272px;

	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 72px;
	line-height: 130%;
	/* or 94px */


	color: #FFFFFF;
}
.the{
	position: absolute;
	width: 511px;
	height: 72px;
	left: 200px;
	top: 492px;

	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 180%;
	/* or 36px */

	text-transform: capitalize;

	color: rgba(255, 255, 255, 0.8);
}

.btn{
	position: absolute;
	width: 202px;
	height: 70px;
	left: 200px;
	top: 628px;
	background-color: #C99E71;
	border: 1px solid #C99E71; ;
}

.btn a{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-transform: uppercase;
	text-decoration: none;

	color: #FFFFFF;
}

.sec3{
	background-color: #14110E;
}

body{

	background-color: #14110E;
}
.con{
	display: flex;
	padding-top: 200px;
	padding-bottom: 140px;
}
.con p{
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */

	margin-bottom: 10px;
	color: #FFFFFF;
}
.con img{
	width: 300px;
}

.con1{margin-left: 200px;}
.con2{margin-left: 30px;}
.con3{margin-left: 30px;}

.sec2 p{
	font-family: 'Urbanist';
}

.sam{
	margin-bottom: 800px;
	}
.ee{
	box-sizing: border-box;

	position: absolute;
	width: 250px;
	height: 250px;
	left: 200px;
	top: 1518px;
}
.ee2{
	position: absolute;
	width: 250px;
	height: 250px;
	left: 200px;
	top: 1852px;

}

.ee3{
	box-sizing: border-box;

	position: absolute;
	width: 250px;
	height: 585px;
	left: 505px;
	top: 1518px;
}
.box2{
	position: absolute;
	width: 350px;
	height: 585px;
	left: 805px;
	top: 1518px;
	background: #1C1814;
}

.history{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #C99E71;
	margin-top: 100px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.box2 h1{
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 130%;
	margin-left: 30px;
	margin-bottom: 35px;

	color: #FFFFFF;
}

.mau{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 180%;
	/* or 29px */

	text-transform: capitalize;
	margin-left: 30px;
	margin-right: 30px;

	color: rgba(255, 255, 255, 0.8);

	opacity: 0.8;
}
.dop p{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	margin-left: 550px;
	color: #C99E71;

}

.dop h1{
	margin-left: 375px;
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 130%;
	/* or 62px */

	margin-bottom: 50px;
	color: #FFFFFF;
}

.oo{
	grid-template-columns: auto auto auto;

	margin-left: 135px;
	
}

.oo img{
	border: 48px solid #121315;
	width: 220px;
	height: 293px;
	margin-left: 30px;
	margin-bottom: 100px;


}

.ve{
	position: absolute;
width: 366px;
height: 579px;
left: 375px;
top: 2545px;

background: #121315;
}

.br1{

	position: absolute;
	width: 245px;
	height: 30px;
	left: 210px;
	top: 2795px;

	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	/* identical to box height */

	text-transform: uppercase;

	color: #FFFFFF;
}
.br2{

	position: absolute;
	width: 245px;
	height: 30px;
	left: 560px;
	top: 2795px;

	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	/* identical to box height */

	text-transform: uppercase;

	color: #FFFFFF;
}
.br3{

	position: absolute;
	width: 245px;
	height: 30px;
	left: 912px;
	top: 2795px;

	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	/* identical to box height */

	text-transform: uppercase;

	color: #FFFFFF;
}

.var a{
	text-decoration: none;
	width: 180px;
	height: 22px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-transform: uppercase;

	color: white;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.var button{
	background: #C99E71;
	align-items: flex-start;
	padding: 20px 36px;
	gap: 10px;
	border: 1px solid #C99E71;
	margin-left: 540px;


	margin-bottom: 140px;
}



.box_1 {
	width: 1000px;
	height: 500px;


	margin-left: 180px;


	display: flex;
	background: #1C1814;

	margin-bottom: 300px;
}

.box_1 img{
	width: 226px;
	height: 359px;
	margin-top: 85px;
	margin-left: 120px;
	margin-bottom: 86px;
	margin-right: 20px;
}

.discover{
	margin-left: 70px;
	margin-right: 50px;
}

.discover h1{
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 130%;
	/* or 62px */
	margin-top: 75px;

	color: #FFFFFF;

}

.discover p{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	/* or 29px */
	margin-top: 20px;
	text-transform: capitalize;

	color: rgba(255, 255, 255, 0.8);

	opacity: 0.8;
}




.discover a{
	text-decoration: none;
	width: 180px;
	height: 22px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-transform: uppercase;

	color: white;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.discover button{
	background: #C99E71;
	align-items: flex-start;
	padding: 20px 36px;
	gap: 10px;
	border: 1px solid #C99E71;
	margin-top: 20px;

}
.discover2{
	display: flex;
	margin-left: 200px;
	margin-bottom: 200px;
}

.discover2 img{
	width: 500px;
	height: 550px;
}

.box_2{
	border: 1px solid #1C1814;
	width: 500px;
	height: 550px;
	background: #1C1814;;
}

.box_2 p{
	margin-top: 70px;
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	text-align: center;

	color: #C99E71;
}
.box_2 h1{
	text-align: center;
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 60px;
	/* identical to box height */


	color: #FFFFFF;
}
.in1{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 180%;
	background: #14110E;
	/* or 32px */
	padding-left: 10px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: capitalize;

	margin-top: 20px;
	margin-left: 80px;
	color: rgba(255, 255, 255, 0.8);
}

.box_2 a{
	text-decoration: none;
	width: 180px;
	height: 22px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-transform: uppercase;

	color: white;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.box_2 button{
	background: #C99E71;
	align-items: flex-start;
	padding: 20px 36px;
	gap: 10px;
	border: 1px solid #C99E71;
	margin-top: 50px;
	margin-left: 150px;
	text-align: center;
}
footer a{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	/* identical to box height, or 20px */


	color: #FFFFFF;
	text-decoration: none;
	margin-left: 80px;

}

footer a:hover{
	color: #C99E71;
}
footer{
	margin-left: 160px;
	margin-bottom: 60px;
}

.section4{
	background: #1C1814;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section4 p{
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 180%;
	/* or 25px */
	text-align: center;

	color: #FFFFFF;
}